<div
  class="container min-vh-100 d-flex align-items-center justify-content-center"
  style="font-family: 'Poppins', sans-serif"
>
  <div
    class="row w-100 shadow rounded-4 bg-white overflow-hidden"
    style="max-width: 900px"
  >
    <!-- Lado Imagen -->
    <div class="col-md-6 p-0">
      <img
        src="https://img.freepik.com/free-photo/device-protected-by-cyber-security_23-2149270838.jpg?t=st=1756582456~exp=1756586056~hmac=8256cbaeda5f59e561526da02b043005481b56ec6c498fbb428db73c3fb10a40&w=1480"
        alt="login"
        class="w-100 h-100"
        style="object-fit: cover"
      />
    </div>

    <!-- Lado Formulario -->
    <div class="col-md-6 p-5 d-flex flex-column justify-content-center">
      <h3 class="fw-bold text-center mb-4" style="color: #669bbc">
        Iniciar Sesión
      </h3>
      <p class="text-center mb-4" style="color: #6c757d">
        Únete a nuestra plataforma de manera rápida y segura 🚀
      </p>

      <form>
        <!-- Email -->
        <div class="mb-3">
          <div class="input-group">
            <span class="input-group-text" style="color: #669bbc">
              <i class="fa-solid fa-envelope"></i>
            </span>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              style="color: #669bbc"
            />
          </div>
        </div>

        <!-- Password -->
        <div class="mb-3">
          <div class="input-group">
            <span class="input-group-text" style="color: #669bbc">
              <i class="fa-solid fa-lock"></i>
            </span>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              style="color: #669bbc"
            />
          </div>
        </div>

        <!-- Botón -->
        <div class="d-grid">
          <button
            type="submit"
            class="btn rounded-pill"
            style="background-color: #669bbc; color: white"
          >
            <i class="fa-solid fa-right-to-bracket"></i> Acceder
          </button>
        </div>

        <!-- Link -->
        <div class="text-center mt-3">
          <a
            routerLink="/Auth/sign-up"
            class="small"
            style="color: #003049; text-decoration: none"
          >
            Olvidastes la contraseña?
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
